streamlit
requests
fastapi
uvicorn
pydantic
python-multipart
xmltodict
langchain
langgraph
openai
chromadb
xmltodict
langchain_huggingface
langchain
langchain-chroma
sentence-transformers
langgraph
langgraph-checkpoint-sqlite
langchain-groq
python-dotenv
aiosqlite
langgraph-checkpoint-postgres 
asyncpg 
psycopg[binary]
sseclient